.email{
    padding: 10px;
}

.neverShare{
    text-align: left;
    font-size: 13px;
}

.password{
    padding: 10px;
}

.login{
margin-bottom: 40px;
margin-top: 20px;
width: 100%;
padding: 10px;

}

.register {
    margin-bottom: 40px;
    margin-top: 40px;
    width: 100%;
    padding: 10px;
}

.divider{
    width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin-bottom: 0;
   
}

.or{
    background:#fff; 
    padding:0 10px;
}