.registerJumbo{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 5in;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #234E70;
}

.jumboRegisterTitle{
    color: #FBF8BE;
    font-size: 5rem;
    text-align: left;
}